* {
  font-family: chewy;
  text-align: center;
}

html, body {
  height: 90%;
  width:100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ACF0F2;
  margin: 0px;
}

header {
  background-color: #225378;
}

h1 {
  color: #EB7F00;
}

.container {
  display: flex;
  flex: 1;
}

main {
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin: auto;
}

button {
  background: #405cc2;
  background-image: -webkit-linear-gradient(top, #405cc2, #2980b9);
  background-image: -moz-linear-gradient(top, #405cc2, #2980b9);
  background-image: -ms-linear-gradient(top, #405cc2, #2980b9);
  background-image: -o-linear-gradient(top, #405cc2, #2980b9);
  background-image: linear-gradient(to bottom, #405cc2, #2980b9);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 16px 10px 16px;
  text-decoration: none;

}

button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#kittenTable {
  display: flex;
  flex-direction: column;
}

.btnDiv {
  position: absolute;
  padding-left: 55.5px;
}

.btnDivRslt {
  position: absolute;
  padding-left: 101px;
}

.btnDivReset {
  position: absolute;
  padding-left: 81.5px;
}

.winner {
  border-left: 10px solid;
  border-top: 10px solid;
  border-right: 10px inset;
  border-bottom: 10px inset;
  border-color: #EB7F00;
}
