* {
  font-family: chewy;
  text-align: center;
}

html, body {
  height: 100%;
  width:100%;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  width:100%;
}

#kittenOneBtn, #kittenTwoBtn {

}
